<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="globals.css" />
      <link rel="stylesheet" href="contacts.css" />
   </head>
   <body>
      <div class="header">
         <a href="index.html" previewlistener="true">
            <button class="button">Главная</button>
         </a>
         <style>
            .text-wrapper {
               /* Дополнительные стили для кнопки, если необходимо */
            }
         </style>

         <a href="catalog.html" previewlistener="true">
            <button class="text-wrapper">Каталог</button>
         </a>
         <a href="contacts.html" previewlistener="true">
            <button class="div">Контакты</button>
         </a>
         <style>
            .wcart {
               width: 50px; /* Установите желаемую ширину */
               height: auto; /* Высота будет масштабироваться автоматически, чтобы сохранить пропорции */
            }
         </style>

         <a href="corzina.html" previewlistener="true">
            <img
               class="wcart"
               src="app/static/images_product/wcart 1.png"
               alt="Корзина"
            />
         </a>

         <a href="index.html" previewlistener="true">
            <img
               class="med-logo"
               src="app/static/images_product/med_logo 1.png"
               alt="Медицинский логотип"
            />
         </a>
      </div>

      <div class="frame">
         <div class="div">
            <img class="rectangle" src="img/rectangle-68.svg" />
            <img class="img" src="img/rectangle-75.svg" />
            <img class="rectangle-2" src="img/rectangle-76.svg" />
            <img class="rectangle-3" src="img/rectangle-69.svg" />
            <img class="rectangle-4" src="img/rectangle-70.svg" />
            <div class="text-wrapper">Наши телефоны</div>
            <div class="text-wrapper-2">Пункты выдачи заказов</div>
            <div class="text-wrapper-3">Наши офисы</div>
            <p class="element">г. Калининград, ул.Гайдара 128, д. 9 кв.212</p>
            <p class="p">г. Зеленоградск, Центральный пер., д. 19</p>
            <p class="element-2">
               г. Балтийск, Садовая ул., д. 7 кв.215
            </p>
            <p class="element-3">г. Светлогорск, Вишневая ул., д. 10</p>
            <p class="element-4">г. Черняховск, Октябрьская ул., д. 17 кв.16</p>
            <p class="text-wrapper-4">
               Наш магазин предоставляет собственные пункты выдачи заказов, где
               клиенты могут забрать свои покупки.
            </p>
            <p class="text-wrapper-5">
               Наш магазин сотрудничает с партнерскими службами доставки, такими
               как TopDelivery, которые предоставляют пункты выдачи заказов по
               всей стране.
            </p>
            <p class="text-wrapper-6">
               Для получения более подробной информации о пунктах выдачи заказов
               вашего магазина, рекомендуется обратиться к официальному сайту
               магазина или связаться с его службой поддержки.
            </p>
            <p class="text-wrapper-7">
               Наш магазин интегрирован с популярными службами доставки, такими
               как PickPoint, Boxberry или другими, предоставляющими удобные
               пункты выдачи заказов для клиентов.
            </p>
            <div class="overlap"><div class="ellipse"></div></div>
            <div class="overlap-group"><div class="ellipse"></div></div>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="div-wrapper"><div class="ellipse"></div></div>
            <div class="overlap-2"><div class="ellipse"></div></div>
            <div class="polygon-wrapper">
               <img class="polygon" src="img/polygon-1.svg" />
            </div>
            <div class="img-wrapper">
               <img class="polygon" src="img/polygon-2.svg" />
            </div>
            <div class="overlap-3">
               <img class="polygon" src="img/polygon-4.svg" />
            </div>
            <div class="overlap-4">
               <img class="polygon" src="img/polygon-3.svg" />
            </div>
            <div class="overlap-5"><div class="ellipse"></div></div>
            <div class="overlap-6"><div class="ellipse"></div></div>
            <div class="overlap-7"><div class="ellipse"></div></div>
            <div class="overlap-8"><div class="ellipse"></div></div>
            <p class="text-wrapper-8">+7 992 232 23 12</p>
            <p class="text-wrapper-9">+7 982 343 12 10</p>
            <p class="text-wrapper-10">+7 778 235 75 43</p>
            <p class="text-wrapper-11">+7 455 029 99 04</p>
            <div class="text-wrapper-12">Техно-центр</div>
            <p class="text-wrapper-13">
               Мы - команда энтузиастов, предлагающая широкий ассортимент
               компьютерной техники, аксессуаров и комплектующих. Наша цель -
               сделать мир цифровых технологий доступным и увлекательным для
               каждого.
            </p>
            <div class="text-wrapper-14">Помощь со складом</div>
            <p class="text-wrapper-15">
               Мы гордимся нашим хорошо организованным складом, где мы храним
               широкий ассортимент компьютерной техники. Наши запасы всегда
               обновляются, чтобы мы могли оперативно удовлетворить потребности
               наших клиентов.
            </p>
         </div>
      </div>
   </body>
</html>
