.btn-info {
    color: #fff;
    background-color: #2283ff;
    border-color: #17a2b8
}
.list-group-item-info {
    color: #0c5460;
    background-color: #bee5eb;
    background-color: #6c757d;
}
.frame .rectangle {
    position: absolute;
    width: 778px;
    height: 128px;
    top: 73px;
    left: 0;
    background-color: #2283ff;
    border-radius: 10px;
}